[submodule "reagent"]
	path = libraries/reagent
	url = https://github.com/reagent-project/reagent.git
[submodule "applications/vimsical"]
	path = applications/vimsical
	url = https://github.com/vimsical/vimsical.git
[submodule "libraries/bidi"]
	path = libraries/bidi
	url = https://github.com/juxt/bidi.git
[submodule "applications/status-react"]
	path = applications/status-react
	url = https://github.com/status-im/status-react.git
[submodule "libraries/re-frame"]
	path = libraries/re-frame
	url = https://github.com/Day8/re-frame.git
[submodule "applications/maria"]
	path = applications/maria
	url = https://github.com/mhuebert/maria
[submodule "libraries/om"]
	path = libraries/om
	url = https://github.com/omcljs/om.git
[submodule "applications/frontend"]
	path = applications/circleci-frontend
	url = https://github.com/circleci/frontend.git
[submodule "applications/precursor"]
	path = applications/precursor
	url = https://github.com/PrecursorApp/precursor.git
[submodule "applications/asciinema-player"]
	path = applications/asciinema-player
	url = https://github.com/asciinema/asciinema-player.git
